body {
	background-color: #FBC2B5;
}

h1 {
	border: white 5px solid;
	padding-bottom: 20px;
	padding-top: 20px;
	color: black;
	font-family: Brush Script MT,cursive;
	font-size: 50px;
	text-align: center;
	color: #FFA8A9;
}

h3 {
	text-align: left;
	color: black;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: #FFA8A9;
}


.beginning {
/*	margin: 10px;
	width: 50%;
	float: left;*/
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
}

.beginningp {
/*	margin: 10px;
	width: 50%;
	float: left;*/
	text-align: center;
	font-family: 'Nunito', sans-serif;
	color: white;
}

.aboutme {
	/*padding-left:70%;*/
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
	text-align: center;
    /*margin-left: auto;
    margin-right: auto;*/
}

.aboutmename {
	/*padding-left:50%;*/
	font-family: 'Nunito', sans-serif;
	/*margin: 10px;*/
	font-size: 20px;
	text-align: center;
	color: #E75A7C;
}

.aboutmep {
	/*padding-left:50%;*/
	font-family: 'Nunito', sans-serif;
	margin: 10px;
	color: white;
	text-align: center;
}

.three {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}


#selfie{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
	border: white solid;
}


#A1C084 #C6AC8F #C9A690 #87B37A #D4B483